# Wokwi simulasyonu: sanal Wi-Fi, UART konsol, sanal DHT22 (GPIO10), kisa yayin araligi
CONFIG_WIFI_SSID="Wokwi-GUEST"
CONFIG_WIFI_PASSWORD=""
CONFIG_PUBLISH_SECONDS=10
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
# CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG is not set
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
# CONFIG_ESPTOOLPY_FLASHSIZE_16MB is not set
